* {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
.conteiner {
    padding: 0 80px;
}
a:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
}
button:focus {
    outline: none;
}
.title {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: #061e37;
}
.subtitle {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #b0bec5;
    line-height: 16px;
}
.descr {
    font-size: 15px;
    line-height: 25px;
    color: #b0bec5;
    text-align: center;
    width: 560px;
    margin: 24px auto 0 auto;
}
/* Promo section */
.promo {
    min-height: 750px;
    background: url(../img/bg/rectangle_1_copy_2_16.jpg) center center/cover no-repeat;
    padding: 50px 0;
}
.header {
    display: flex;
    justify-content: space-between;
}
.logo__wrap {
    display: flex;
    align-items: center;
}
.logo__img {
    margin-right: 10px;
}
.logo__text {
    line-height: 15px;
    text-transform: uppercase;
    color: #ffffff;
}   
.logo__text > span {
    font-weight: 700;
}
.nav {
    display: flex;
    align-items:center;
}
.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav__item:hover {
    opacity: 1;
}
.nav__item {
    margin: 0 25px;
    opacity: 0.85;
    transition: opacity 0.3s ease;
}
.nav__item > a {
    font-weight: 600;
    color: #ffffff;
}
.promo__sign button {
    padding: 6px 20px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-size: 12px;
    color: #ffffff;
}
.promo__sign button :focus{
    outline: none;
}
.promo__content {
    display: flex;
    margin-top: 170px;
    justify-content: space-between;
    align-items: center;
}
.promo__text {
    width: 45%;
}
.promo__title {
    font-size: 55px;
    line-height: 65px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.promo__desk {
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    opacity: 0.8;
}
.promo__btns {
    margin-top: 40px;
}
.promo__btn {
    width: 150px;
    height: 55px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    transition: all 0.3s ease;
}
.promo__btn__black {
    background-color: #061e37;
    color: white;
    margin-right: 30px;
}
.promo__btn__black:hover {
    background-color:#ffffff;
    color:#061e37;
}
.promo__btn__white {
    background-color:#ffffff;
    color: #061e37;
}
.promo__btn__white:hover {
    background-color:#061e37;
    color: #ffffff;
}
.promo__video {
    position: relative;
}
.promo__video > video {
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid #061e37;
}
.promo__play {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 75px);
    width: 150px;
    text-align: center;
    color: #061e37;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.promo__play > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #061e37;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 0 auto 22px auto;
}
.promo__play > div > i {
    color: white; 
}

/*  Section Usful */
.useful {
    min-height: 800px;
    padding: 100px 0;
    background-color:white;
}
.usful__content {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
}
.usful_item {
    width: 27%;
}
.usful_title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #061e37;
}
.usful_descr {
    text-align: center;
    line-height: 20px;
    color: #78909c;
}
.usful__icon {
    text-align: center;
    margin-bottom: 40px;
}
.usful__icon > i {
    font-size: 80px;
}
.fa-amazon {
    color: #b388ff;
}
.fa-box-open {
    color: #80d8ff;
}
.fa-user-tie {
    color: #ea80fc;
}
.usful__btn {
    display: block;
    width: 150px;
    height: 55px;
    background-color: #1de9b6;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 78px auto 0 auto;
    transition: all 0.3s ease;
}
.usful__btn:hover {
    background-color: #067559;
}
/* progress section */
.progress {
    display:flex;
}
.progress_item {
    width: 25%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress_item_business {
    background-color: #80d8ff;
}
.progress_item_business i {
    color: #80d8ff;
}
.progress_item_download {
    background-color: #82b1ff;
}
.progress_item_download i {
    color: #82b1ff;
}
.progress_item_installs {
    background-color: #b388ff;
}
.progress_item_installs {
    color: #b388ff;
}
.progress_item_users {
    background-color: #ea80fc;
}
.progress_item_users i {
    color: #ea80fc;
}
.progress_wrap {
    display: flex;
    align-items: center;
}
.progress_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 23px;
}
.progress_icon i {
    font-size: 30px;
}
.progress_text {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: #ffffff;
}

